<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3440730765-q6cg282vgbpvb1kkr69t3n1t3o2ds15b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3440730765-q6cg282vgbpvb1kkr69t3n1t3o2ds15b</string>
	<key>API_KEY</key>
	<string>AIzaSyC9iMUvNd6kxM9NLa_ZJNH31vRG1YxFM18</string>
	<key>GCM_SENDER_ID</key>
	<string>3440730765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kindah</string>
	<key>PROJECT_ID</key>
	<string>kindahclothing</string>
	<key>STORAGE_BUCKET</key>
	<string>kindahclothing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3440730765:ios:1df226bf49f2b56adab8c4</string>
</dict>
</plist>